$background-color: #323232;
$base-color: #ffffff;
$lowlight-color: #b0b0b0;
$svg-filter-color-hover: invert(45%) sepia(90%) saturate(1.5) hue-rotate(190deg); /* #97a7e0 */
$svg-filter-color-active: invert(45%) sepia(90%) saturate(4.5) hue-rotate(190deg); /* #77a5ff */