.App {
  height: 100vh;
  background: #323232;
  color: #ffffff;
}

.App h1 {
  margin: 0;
  font-size: 5rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  padding: 1rem 0;
}

.header img {
  width: 3rem;
  transition: width 0.2s ease-in;
}

.header img.active {
  width: 6rem;
  transition: width 0.2s ease-out;
  animation: activeMode 0.2s linear reverse forwards;
}

@keyframes activeMode {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}


.main {
  width: 80vw;
  margin: auto;
}

.main .clock-container,
.stopwatch-container,
.timer-container {
  width: 20rem;
  margin: auto;
}

.main ul.cycles {
  list-style-type: none;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main ul.cycles::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main ul.cycles {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.main ul.cycles.not-empty {
  animation: showList 0.6s ease-in-out forwards;
}
@keyframes showList {
  0% {
    min-height: 0;
    max-height: 0;
  }
  100% {
    min-height: 12.3rem;
    max-height: 12.3rem;
  }
}

.main ul.cycles.empty {
  animation: hideList 0.6s ease-in-out forwards;
}
@keyframes hideList {
  0% {
    min-height: 12.3rem;
  }
  100% {
    min-height: 0;
  }
}

.main ul.cycles .cycle-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  animation: addCycle 0.4s ease-out forwards;
}

@keyframes addCycle {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  50% {
    opacity: 1;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.main ul.cycles .cycle-data .aux-info {
  color: #b0b0b0;
}

.main ul.cycles .cycle-data img {
  width: 1rem;
}

.main .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;
}

.main .actions button {
  background-color: unset;
  background-size: 3rem;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  width: 3.1rem;
  height: 3.2rem;
}

.main .actions button.play:disabled {
  cursor: not-allowed;
  filter: invert(0.5);
}

.main .actions button.play {
  background-image: url('/public/play-svgrepo-com.svg');
  animation: btn1 0.3s ease;
}

.main .actions button.pause {
  background-image: url('/public/pause-svgrepo-com.svg');
  animation: btn2 0.3s ease;
}

.main .actions button.flag {
  background-image: url('/public/flag-3-svgrepo-com.svg');
  animation: btn1 0.3s ease;
}

.main .actions button.stop {
  background-image: url('/public/stop-svgrepo-com.svg');
  animation: btn2 0.3s ease;
}

@keyframes btn1 {
  from {
    opacity: 0.1;
    /* transform: rotate(-90deg); */
    transform: translateX(-30%);
  }
  to {
    opacity: 1;
    /* transform: rotate(0deg); */
    transform: translateX(0);
  }
}

@keyframes btn2 {
  from {
    opacity: 0.1;
    /* transform: rotate(90deg); */
    transform: translateX(30%);
  }
  to {
    opacity: 1;
    /* transform: rotate(0deg); */
    transform: translateX(0);
  }
}

.main .set-timer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* margin-bottom: 2.1rem; */
}

.main .set-timer label {
  display: block;
}

.main .set-timer input {
  width: 5.5rem;
  line-height: 5rem;
  border-radius: 10px;
  font-size: 4rem;
  background-color: #323232;
  color: #FFFFFF;
}

.main .set-timer input::placeholder {
  color: #FFFFFF;
}

.main .message-container {
  min-height: 1.5rem;
}

.main .message {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 3rem;
  animation: showMessage 0.4s ease-in; 
}

.main .message.msg-hide {
  animation: hideMessage 0.4s ease-in; 
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

@keyframes showMessage {
  from {
    opacity: 0;
    transform: translateY(60%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes hideMessage {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(60%);    
  }
}