.App {
  height: 100vh;
  background: #323232;
  color: #fff;
}

.App h1 {
  margin: 0;
  font-size: 5rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  padding: 1rem 0;
}

.header img {
  width: 3rem;
  transition: width 0.2s ease-in;
}

.header img.active {
  width: 6rem;
  transition: width 0.2s ease-out;
  animation: activeMode 0.2s linear reverse forwards;
}

.main {
  width: 80vw;
  margin: auto;
}

.main .clock-container, .stopwatch-container {
  width: 20rem;
  margin: auto;
}

.main .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;
}

.main .actions button {
  background-color: unset;
  background-size: 3rem;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  width: 3.1rem;
  height: 3.2rem;
}

.main .actions button.play {
  background-image: url('/public/play-svgrepo-com.svg');
  animation: play 0.2s ease;
}

.main .actions button.pause {
  background-image: url('/public/pause-svgrepo-com.svg');
  animation: pause 0.2s ease;
}

.main .actions button.flag {
  background-image: url('/public/flag-3-svgrepo-com.svg');
  animation: play 0.2s ease;
}

.main .actions button.stop {
  background-image: url('/public/stop-svgrepo-com.svg');
  animation: pause 0.2s ease;
}


@keyframes activeMode {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes play {
  from {
    opacity: 0.5;
    transform: rotate(-90deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes pause {
  from {
    opacity: 0.5;
    transform: rotate(90deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}