.App {
  text-align: center;
  height: 100vh;
  background: #323232;
  color: #fff;
}

.App h1 {
  margin: 0;
  font-size: 5rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 3rem;
}

.header img.active {
  width: 6rem;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
